#{extends 'main.html' /}
#{set title:'title.change.password' /}


<div id="newUser" class="ui-widget ui-widget-content ui-corner-all" style="padding: 0.3em;">
    #{form @Users.changePassword()}

    <div><label for="oldPassword">&{'secure.old.password'} </label><br/>
        <input type="password" name="oldPassword" id="oldPassword"/></div>


    <div><label for="password">&{'secure.new.password'} </label><br/>
        <input type="password" name="newPassword" id="password"/></div>

    <div><label for="password2">&{'secure.repeat.new.password'} </label><br/>
        <input type="password" name="newPassword2" id="password2"/></div>

    <div><input type="submit" name="create" value="&{'common.save'}"/></div>
    #{/form}
</div>