#{extends 'main.html' /}
#{set title:'title.create' /}


<div id="newUser" class="ui-widget ui-widget-content ui-corner-all" style="padding: 0.3em;">
    #{form @Users.save()}
    <div><label for="login">&{'secure.username'}</label><br/>
        <input type="text" name="user.login" id="login" value="${user?.login}"/></div>

    <div><label for="fullName">&{'secure.full.name'}</label><br/>
        <input type="text" name="user.fullName" id="fullName" value="${user?.fullName}"/></div>

    <div><label for="password">&{'secure.password'} </label><br/>
        <input type="password" name="user.password" id="password"/></div>

    <div><label for="password2">&{'secure.repeat.password'} </label><br/>
        <input type="password" name="user.password2" id="password2"/></div>

    <div><input type="submit" name="create" value="&{'common.save'}"/></div>
    #{/form}
</div>